.ourTopTrainersContainer {
    background-color: #f1f1f1;
    padding: 20px;
}

.ourTopTrainersHeading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.ourTopTrainersCardSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.trainerCard {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 160px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.trainerCard.visible {
    opacity: 1;
    transform: translateY(0);
}

.trainerCard:nth-child(1) {
    transition-delay: 0.1s;
}

.trainerCard:nth-child(2) {
    transition-delay: 0.2s;
}

.trainerCard:nth-child(3) {
    transition-delay: 0.3s;
}

.trainerCard:nth-child(4) {
    transition-delay: 0.4s;
}

.trainerCard:nth-child(5) {
    transition-delay: 0.5s;
}

.trainerCard:nth-child(6) {
    transition-delay: 0.6s;
}


.trainerCardImage {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.trainerCardDetails {
    padding: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainerNameCard {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.trainerCardBody {
    font-size: 14px;
    color: #555;
    margin: 0px 10px 0px 10px;
}

.trainerCard:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .ourTopTrainersContainer {
        gap: 20px;
    }

    .trainerCardImage {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .trainerCard {
        max-width: 100%;
    }

    .trainerNameCard {
        font-size: 18px;
    }

    .trainerCardImage {
        height: 150px;
    }
}