.login-container-email,
.login-container-mobile {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid blue;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.3s ease-in-out;
}

.login-container-email,
.login-container-mobile a {
    font-size: 14px;
}
.login-container-form{
    max-width: 400px;
    margin: 0 auto;
}

.login-container-email,
.login-container-mobile a:hover {
    scale: 1.03;
    background-color: #f5f5f5;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-title-mobile {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.label-mobile,
.label-otp {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

.input-mobile,
.input-otp {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.input-mobile:focus,
.input-otp:focus {
    border-color: #4CAF50;
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.login-btn-mobile {
    width: 100%;
    height: 45px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-btn-mobile:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.error-mobile {
    color: #d9534f;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: fadeInOverlay 0.3s ease-in-out;
}


@keyframes fadeInOverlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 480px) {

    .login-container-email,
    .login-container-mobile {
        padding: 20px;
        margin: 30px auto;
        max-width: 350px;
    }

    .login-title-mobile {
        font-size: 20px;
    }

    .input-mobile,
    .input-otp {
        font-size: 14px;
        padding: 10px;
    }

    .login-btn-mobile {
        font-size: 14px;
        padding: 12px;
    }
}