.stud-trainer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.stud-trainer-admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    max-width: 50vh;
    width: 80%;
    /* padding: 20px; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.stud-trainer-admin-container a:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

.stud-trainer-button {
    padding: 12px 24px;
    margin: 10px 0;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.stud-trainer-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.stud-trainer-button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .stud-trainer-button {
        width: 90%;
    }

    .stud-trainer-admin-container {
        height: 40%;
        /* padding: 15px; */
        max-width: 80%;
    }
}