.trainer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 999;
    
}

.trainer-signup-form-container {
    padding: 50px 20px; 
    padding-top: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100% - 40px); 
    margin: 20px auto; 
    overflow-y: scroll;
    scrollbar-width: none;  
}

.trainer-signup-form-container h2 {
    align-self: center;
}

.trainer-signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}


.profile-pic-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-pic-preview {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic-placeholder {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.technologies-checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin-bottom: 16px;
}

.selected-technologies {
    margin-bottom: 10px;
}

.selected-technologies h5 {
    margin-bottom: 10px;
}

.technologies-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.technology-tag {
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.profile-pic-container {
    margin-bottom: 16px;
}

.profile-pic-container label {
    display: block;
    margin-bottom: 8px;
}

.trainer-signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


button {
    padding: 10px;
    background-color:blue;
   
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: blue;
}
