.community-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-section {
    background-color: #f7f7f7;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    color: rgb(206, 60, 31);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    transition: all 0.3s ease;
    font-size: 36px;
    font-weight: bold;
    color: #0f0344;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .description {
    font-size: 18px;
    color: #443e3e;
    margin-bottom: 30px;
  }
  
  .features-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .features-list li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }
  

  
  .trainers-section {
    padding: 50px 20px;
  }
  
  .trainers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .trainer-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .trainer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(68, 45, 204, 0.2);
  }
  
  .trainer-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .trainer-info h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .trainer-info p {
    
    text-align: center;
    font-size: 18px;
    color: #666;
  }
  
  .trainer-description-section {
    padding: 50px 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .trainers-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .trainers-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }