 .admin-welcome {
     display: flex;
     flex-direction: column;
     margin-bottom: 40px;
     align-items: center;
     justify-content: center;
 }

 .admin-welcome h1 {
     font-size: 44px;
     background-color: #cdcdcd;
     padding: 30px 10px;
     border-radius: 5px;
     margin-bottom: 20px;
     text-align: center;
     width: 100%;
     margin-top: 1%;
 }

 .admin-welcome p {
     font-size: 24px;
     padding: 10px 30px;
     background-color: #cdcdcd;
     border-radius: 50px;
     text-align: center;
 }