.community-container-about-section {
  margin: 1% 1% 0;
  background-color: #f7f7f71b;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  color: #3caacb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.community-container-description-heading {
  transition: all 0.3s ease;
  font-size: 36px;
  font-weight: bold;
  color: #3caacb;
  margin-bottom: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.756);
}

.community-container-description {
  font-size: 18px;
  color: #F5EFFF;
  margin-bottom: 30px;
}