.page-not-found-error-msg {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-self: center;
  color: gray !important;
  background-color: #394852;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-not-found-error-msg h1 {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.loader-main-div {
  width: 100%;
  height: 100%;
  z-index: 1001;
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  position: fixed;
  /* position: sticky; */
  /* position: static; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  /* top: 50%;
  left: 45%; */
  position: absolute;
  width: 60px;
  aspect-ratio: 1;
  background:
    linear-gradient(45deg, #60B99A 50%, #0000 0),
    linear-gradient(45deg, #0000 50%, #60B99A 0),
    linear-gradient(-45deg, #f77825 50%, #0000 0),
    linear-gradient(-45deg, #0000 50%, #f77825 0),
    linear-gradient(#554236 0 0);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite;
}

@keyframes l18 {
  0% {
    background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%
  }

  25% {
    background-position: 0 100%, 100% 0, 50% 50%, 50% 50%, 50% 50%
  }

  50% {
    background-position: 0 100%, 100% 0, 100% 100%, 0 0, 50% 50%
  }

  75% {
    background-position: 50% 50%, 50% 50%, 100% 100%, 0 0, 50% 50%
  }

  100% {
    background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%
  }
}