@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
  --color-p1: #f7f7f7;
  --color-p2: #1A2130;
  --color-p3: #008080;
  --color-p4: #cfcfcf;

  /* --bg-smt: rgba(89, 89, 89, 0.4); */


  --font-p1: Georgia, sans-serif;
  --font-p2: "PT Sans", Arial, sans-serif;
  ;

  --font-size-p1: 1.6rem;
  --font-size-p2: 1.3rem;
  --font-size-p3: 0.9rem;
}

body {
  margin: 0;
  color: var(--color-p2);
  background-color: var(--color-p1);
  font-family: var(--font-p2);
  scroll-behavior: smooth;
}


/* .cursor-tracker {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(116, 223, 223, 0.6);
  pointer-events: none;
  transition: transform 0.1s ease;
  transform: translate(-50%, -50%);
  z-index: 9999;
  filter: blur(50px);
  box-shadow: 0 0 12px rgba(116, 255, 255, 0.4);
} */