.rating__reviews_-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.rating__reviews_-container-card {
    display: flex;
    flex-direction: column;
    width: 440px;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    background-color: #C7EFFF;
    padding: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.rating__reviews_-container-card-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.rating__reviews_-container-card-data {
    padding: 10px;
}

.rating__reviews_-container-card-data h1 {
    font-size: 24px;
    margin: 0;
}

.rating__reviews_-container-card-data p {
    font-size: 16px;
    margin: 5px 0;
}

.leave__a-rating-review {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.leave__a-rating-review h2 {
    transition: all 0.5s ease;
}

.leave__a-rating-review h2:hover {
    text-shadow: 0 0 5px rgb(7, 212, 244);
}

.leave__a-rating-review img {
    width: 30px;
    margin-left: 10px;
}