.trainer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.trainer-header__picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.trainer-header__welcome {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.trainer-header__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.trainer-header__actions img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.trainer-header__actions img:hover {
    transform: scale(1.2);
}

.trainer-details {
    background-color: #fff;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.trainer-details p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}

.batch-selector {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.batch-selector label {
    font-size: 18px;
}

.batch-selector select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

.batch-selector select:focus {
    border-color: #007bff;
}

.trainer-meeting {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
}

.trainer-meeting__heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.attendance-list input {
    text-align: center;
    text-decoration: none;
    width: 100%;
    border: none;
    background-color: transparent;
}

.attendance-list .attendance-list-table {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(97, 94, 94);
    background-color: rgb(255, 255, 255) !important;
}

.attendance-list .attendance-list-table tr,
td,
th,
thead {
    align-items: center;
    align-content: center;
    align-self: center;
    border: 1px solid rgb(97, 94, 94);
}

.attendance-list .attendance-list-table th,
thead {
    background-color: rgb(37, 103, 236);
}