/* .admin-dashboard-manage-courses-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
}

.admin-dashboard-manage-courses-container .admin-welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.admin-welcome h1 {
    font-size: 44px;
    background-color: #cdcdcd;
    padding: 30px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.admin-welcome p {
    font-size: 24px;
    padding: 10px 30px;
    background-color: #cdcdcd;
    border-radius: 50px;
    text-align: center;
}

.add__new-course-btn {
    background-color: #356bdf;
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
    margin-bottom: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}

.add__new-course-btn:hover {
    background-color: #2c5fcb;
    transform: scale(1.03);
}

.ad__courses-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ad__courses-list-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-cover-image {
    width: 180px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
}

.courses-details-data {
    flex: 1;
}

.courses-details-data h3 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
}

.courses-details-data p {
    font-size: 16px;
    margin: 5px 0;
}


.ad_edit_course-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 2% 2% 0;
    transition: transform 0.3s ease;
}

.ad_delete_course-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 1px;
    padding: 0 2% 2% 0;
    transition: transform 0.3s ease;
}


.ad_edit_course-btn img {
    width: 30px;
    height: 30px;
}

.ad_delete_course-btn img {
    width: 30px;
    height: 30px;
    margin-right: 40px;
}

.ad_edit_course-btn:hover img {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .ad__courses-list-card {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .course-cover-image {
        width: 120px;
        height: auto;
    }

    .courses-details-data h3 {
        font-size: 20px;
    }

    .courses-details-data p {
        font-size: 14px;
    }
} */